.add{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 590px;
}
.add input{
    width: 200px;
    height: 25px;
    margin: 10px;
}
.add select{
    width: 210px;
    height: 25px;
    margin: 10px;
}
.add button{
    margin-top: 10px;
}